<% @stylesheets = %W(dashboard) %>


<div id="main">
  <div class="category box">
    <div class="chart"><div id="gg" class="plot"></div></div>
    <div class="spend">$832</div>
    <div class="diff over">$132</div>
    <div class="title">Insurance</div>
    <div class="break"></div>
    <div class="expanded">
      <hr />
      <p>Average line: <a href="">Change to a goal amount</a></p>
      <hr />
      <table>
        <tr>
          <td>$832</td><td>from Checking</td><td>Tuesday, 4<sup>th</sup></td>
        </tr>
        <tr>
          <td>$832</td><td>from Checking</td><td>Tuesday, 4<sup>th</sup></td>
        </tr>
        <tr>
          <td>$832</td><td>from Checking</td><td>Tuesday, 4<sup>th</sup></td>
        </tr>
      </table>
    </div>
  </div>

  <% @expenses.each do |expense| %>
    <% splits = expense.splits.since(@start_date) %>
    <div class="category box">
      <div class="chart">...</div>
      <div class="spend">
        <%= splits.balance.format %>
      </div>
      <div class="diff unchanged"></div>
      <div class="title"><%= expense.name %></div>
      <div class="break"></div>
      <div class="expanded">
        <hr />
        <p>Average line: <a href="">Change to a goal amount</a></p>
        <hr />
        <table>
          <% splits.each do |split| %>
          <tr>
            <td><%= split.amount.format %></td>
            <td>from <%= split.ledger.name %></td>
            <td><%= pretty_date(split.entry.posted) %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <div class="remaining category box">
    <div class="chart">&nbsp;</div>
    <div class="spend">$423</div>
    <div class="diff">&nbsp;</div>
    <div class="title"><a href="">7 Others</a></div>
    <div class="break"></div>
  </div>

  <h3>Recent Transactions</h3>

  <div class="transaction box">
    <div class="amount">$40.23</div>
    <div class="date">Friday, 12<sup>th</sup></div>
    <div class="categories">Groceries, Dining, 2 Others</div>
    <div class="break"></div>
    <div class="expanded">
      <hr />
      <table>
        <tr><td>$12.56</td><td>from Credit Card</td><td>Groceries</td></tr>
        <tr><td>$5.13</td><td>from Credit Card</td><td>Dining</td></tr>
        <tr><td>$10.00</td><td>from Checking</td><td>Internet</td></tr>
        <tr><td>$12.54</td><td>from Credit Card</td><td>Entertainment</td></tr>
      </table>
    </div>
  </div>

  <div class="transaction box">
    <div class="amount">$10.93</div>
    <div class="date">Wednesday, 10<sup>th</sup></div>
    <div class="categories">Groceries</div>
    <div class="break"></div>
    <div class="expanded">
      <hr/>
      OMG HI
    </div>
  </div>

  <div class="transaction box">
    <div class="amount">$173.09</div>
    <div class="date">Sunday, 7<sup>th</sup></div>
    <div class="categories">Recreation, Entertainment</div>
    <div class="break"></div>
    <div class="expanded">
      <hr/>
      OMG HI
    </div>
  </div>
</div>

<div id="side">
  <div class="action box">
    <p><a href="http://someplace">Approve</a> 3 new transactions</p>
    <p><a href="http://someplace">Categorize</a> 9 transactions</p>
  </div>

  <div class="date-range box">
    <p>Showing data for</p>
    <p>Last
      <% @days.each do |d| %>
        <% if @current_days == d %>
          <strong><%= d %></strong>
        <% else %>
          <%= link_to d, {:days => d} %>
        <% end %>
      <% end %>
      days
    </p>
  </div>

  <div class="delta box">
    <h2 class="over">$4,032</h2>
    <div class="plot" id="hh">dd</div>
    <table><tbody>
      <tr><td>Earned</td><td>$4,530</td></tr>
      <tr><td>Spent</td><td>$8,562</td></tr>
    </tbody></table>
  </div>
</div>


<script id="source" language="javascript" type="text/javascript">
$(function () {
    var origin = 0;
    var avg = 638.5; // target line
    var spend = [[0, 138.05], [1,127.05], [2,137], [3,138.05], [4,127.05], [5,137], [6,842.56], [7,0], [8,0], [9,0], [10,0], [11,842.56]];

    var options = {
      shadowSize: 0,
      grid: { borderWidth: 0 },
      yaxis: {ticks: []},
      xaxis: {ticks: []}
    };
    options['colors'] = jQuery.map(spend, function(e) { return e[1] == 0 ? '#f2f2f2' : (e[1] > avg ? '#BF0C00' : '#7DB700') } );
    options['colors'].push('#2383C7'); // avg line color

    var plotArray = jQuery.map(spend, function(e) { return {data: [e], bars: { show: true, barWidth: 0.8 }} } );
    plotArray.push({data: [[0, avg],[spend.length, avg]], lines: { show: true, lineWidth: 0.5 } });

    jQuery.plot($("#gg"), plotArray, options);

    $(window).resize(function(){
      jQuery.plot($("#gg"), plotArray, options);
    });
});

$(function () {
    var deltas = [[0, 1010], [1,893], [2,1434], [3,1204], [4,-200], [5,800], [6,-389], [7,297], [8,-581], [9,-904], [10,102], [11,-783]].reverse();
    var origin = 0; // draw this as an actual line and it makes the graph slightly wider, so the border doesnt intrude.

    var options = {
      shadowSize: 0,
      grid: { borderWidth: 0 },
      yaxis: {ticks: []},
      xaxis: {ticks: []}
    };
    options['colors'] = jQuery.map(deltas, function(e) { return e[1] == 0 ? 'transparent' : (e[1] < 0 ? '#BF0C00' : '#7DB700') } );
    options['colors'].push('black'); // origin color

    var plotArray = jQuery.map(deltas, function(e) { return {data: [e], bars: { align: 'center', show: true, barWidth: 0.8 }} } );
    plotArray.push({data: [[0, origin],[deltas.length, origin]], lines: { show: true, lineWidth: 0.5 } });

    jQuery.plot($("#hh"), plotArray, options);

    $(window).resize(function(){
      jQuery.plot($("#hh"), plotArray, options);
    });

});

$(["transaction", "category"]).each(function(idx, className) {
  $("."+className+":not(.remaining) div:not(.expanded)").css({cursor:'pointer'});

  $("."+className+" div:not(.expanded)").click(
    function(){
      var h = $("~ .expanded:hidden", this);
      var v = $("~ .expanded:visible", this);
      h.size() == 1 ? h.slideDown(500) : v.slideUp(500);
    }
  )
});

</script>
