<div id="main">
  <div class="category box">
    <div class="chart"><div id="gg" class="plot"></div></div>
    <div class="spend">$832</div>
    <div class="diff over">$132</div>
    <div class="title">Insurance</div>
    <div class="break"></div>
    <div class="expanded">
      <hr />
      <p>Average line: <a href="">Change to a goal amount</a></p>
      <hr />
      <table>
        <tr>
          <td>$832</td><td>from Checking</td><td>Tuesday, 4<sup>th</sup></td>
        </tr>
        <tr>
          <td>$832</td><td>from Checking</td><td>Tuesday, 4<sup>th</sup></td>
        </tr>
        <tr>
          <td>$832</td><td>from Checking</td><td>Tuesday, 4<sup>th</sup></td>
        </tr>
      </table>
    </div>
  </div>

  <div id="categories">
    <% @expenses.each do |expense, splits| %>
      <div class="category box">
        <div class="chart">...</div>
        <div class="spend">
          <%= splits.balance.format %>
        </div>
        <div class="diff unchanged"></div>
        <div class="title"><%= expense.name %></div>
        <div class="break"></div>
        <div class="expanded">
          <hr />
          <p>Average line: <a href="">Change to a goal amount</a></p>
          <hr />
          <table>
            <% splits.each do |split| %>
            <tr>
              <td><%= split.amount.format %></td>
              <td>from <%= split.entry.local_ledgers.map(&:name).join(", ") %></td>
              <td><%= pretty_date(split.entry.posted) %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    <% end %>
  
    <div class="remaining category box">
      <div class="chart">&nbsp;</div>
      <div class="spend">$423</div>
      <div class="diff">&nbsp;</div>
      <div class="title"><a href="">7 Others</a></div>
      <div class="break"></div>
    </div>
  </div>

</div>

<%= render :partial => "side" %>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    var origin = 0;
    var avg = 638.5; // target line
    var spend = [[0, 138.05], [1,127.05], [2,137], [3,138.05], [4,127.05], [5,137], [6,842.56], [7,0], [8,0], [9,0], [10,0], [11,842.56]];

    var options = {
      shadowSize: 0,
      grid: { borderWidth: 0 },
      yaxis: {ticks: []},
      xaxis: {ticks: []}
    };
    options['colors'] = jQuery.map(spend, function(e) { return e[1] == 0 ? '#f2f2f2' : (e[1] > avg ? '#BF0C00' : '#7DB700') } );
    options['colors'].push('#2383C7'); // avg line color

    var plotArray = jQuery.map(spend, function(e) { return {data: [e], bars: { show: true, barWidth: 0.8 }} } );
    plotArray.push({data: [[0, avg],[spend.length, avg]], lines: { show: true, lineWidth: 0.5 } });

    jQuery.plot($("#gg"), plotArray, options);

    $(window).resize(function(){
      jQuery.plot($("#gg"), plotArray, options);
    });
});

$(function(){expandableSections("category");});

</script>
