<div id="main">
  <% @daily_entries.each do |date, entries| %>
    <div class="transaction box">
      <% amount = net_gain(entries) %>
      <div class="amount <%= amount.cents > 0 ? 'income' : 'expense' %>">
        <%= Money.new(amount.cents.abs).format %>
      </div>
      <div class="date">
        <%= @period == :weekly ? "Week of" : "" %>
        <%= pretty_date(date, @current_days >= 30) %>
      </div>
      <div class="categories">
        <%= h summarize_ledgers(entries.map(&:remote_ledgers)) %>
      </div>
      <div class="break"></div>
      <div class="expanded">
        <hr/>
        <table>
          <% entries.each do |entry| %>
            <%= render :partial => "entry", :object => entry %>
            <%= render :partial => "entry_edit", :locals => {:entry => entry} %>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>

<%= render :partial => 'side' %>

<script id="source" language="javascript" type="text/javascript">

function initLedgerSelectors() {
  $(".entry-edit").hide();
  $(".entry sup a").css({visibility:'hidden'});

  $(".entry .editable").hover(
    function(){$("a.change", this).css({visibility:'visible'})},
    function(){$("a.change", this).css({visibility:'hidden'})}
  );
  
  $(".entry .editable").click(function(){
    $(this).parents(".entry").hide();
    $(this).parents(".entry").next().fadeIn(100);
    return false;
  });
  
  $(".entry .editable").css({cursor:'pointer'});
  
  $(".entry-edit input[type=reset]").click(function(){
    $(this).parents(".entry-edit").hide();
    $(this).parents(".entry-edit").prev().fadeIn(100);
  });
  
}

$(function(){ 
  initLedgerSelectors(); 
  expandableSections("transaction");
});

</script>
